.cardWrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  background-color: var(--clr-surface-a0);
  --col-time-width: 200px;
}
