.root {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px;
}

.title {
  font-weight: 700;
  text-align: center;
}
